.AAA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(rgba(1, 1, 1, 0.364)een, blue, alpha);
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-image: url('');
  justify-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;
  border-radius: 50%;
  text-decoration: line-through;
  padding: 4px;
}